//---------------------
//IMPORT FONTS
//--------------------
@import url(http://fonts.googleapis.com/css?family=Loved+by+the+King|Open+Sans:400,300);

//=====================
//=======TYPE==========
//=====================
$xlg-font-size:6.854em;
$lg-font-size:4.236em;
$md-font-size:2.618em;
$default-font-size:1em;
$sm-font-size:.618em;
$xsm-font-size:.382em;

$default-line-height:1.2;

$default-white-space:3.1em;


html, body
{
  @include background($white);
  font-family:$primary-font;
  color:$md-green;
  font-size:18px; //now 1 em
  line-height:1;
}

body
{
  overflow:auto;
}

a
{
  color:$dk-green;
  &:hover
  {
    color:$lt-green;
  }
  &:visited
  {
    color:$lt-green;
  }
}

.four-oh-four-content
{
  width:1170px;
  margin:50px auto;
  .four-oh-four
  {
    font-size:$xlg-font-size;
    color:$red;

  }
}

