@include border-box-sizing;

.content, .footer-content
{
  @include container(80%);
  @include clearfix;
  
  @include susy-breakpoint($medium, $medium-layout)
  {
    @include container(70%);
  }
  
  @include susy-breakpoint($large, $large-layout)
  {
    @include container(53.444em);
  }
}

.content
{
  margin-top:$default-white-space;
  @include background($md-green);
}

header
{
  @include background($white);
  @include span(12 of 12);
  @include clearfix;
  
  .hero, .subhead
  {
    display:inline-block;
    margin-bottom:-7px;
  }
  
  .hero
  {
    font-family:$secondary-font;
    font-size:$md-font-size;
  }
  
  .subhead
  {
    font-size:$sm-font-size;
    float:right;
    padding-top:27px;
    @include susy-breakpoint($medium, $medium-layout)
    {
      float:none;
      padding-top:0;
    }
  }
}

.bio-wrapper
{
  @include span(12 of 12);
  @include clearfix;
  color:$white;

  .bio-pic
  {
    @include background(image-url("me_sm.jpg") no-repeat);
    @include border-radius(50%);
    width:145px;
    height:145px;
    margin:$default-margin auto;
    
    @include susy-breakpoint($large, $large-layout)
    {
      @include span(5 of 12);
      @include background(image-url("me_lg.jpg") no-repeat);
      width:265px;
      height:265px;
      margin:$default-margin*2 0 0 $default-margin*2;
    }
  }
  .bio-content
  {
    h2,p
    {
      display:inline-block;
      padding:$default-padding;
    }//h2/p
    
    h2
    {
      font-size:29px;
    }//h2
    
    p
    {
      font-size:18px;
      line-height:31px;
    }//p
    
    .bio
    {
      padding:$default-padding $default-padding 0 $default-padding;
    }
    
    .bio-footer
    {
      color:$lt-green;
      font-size:13px;
      line-height:15px;
    }
    
    @include susy-breakpoint($large, $medium-layout)
    {
      @include span(6 of 12 last);
    }
  }
}

.nav-wrapper
{
  @include span(12 of 12 last);
}

footer
{
  @include clearfix;
  display: table;   /* Allow the centering to work */
  margin: $default-margin auto;
  ul
  {
    //float:left;
    //margin-left:$default-margin;
    
    //@include susy-breakpoint($large, $large-layout)
     // {
      //  margin-left:$default-margin*2;
      //}
    li
    {
      float:left;
      padding-right:$default-padding;
      &:last-child
      {
        padding-right:0px;
      }
      a
      {
          color:$lt-green;
          
          &:hover
          {
            @include single-transition(all, $transition-time, ease-out);
            color:$md-green;
          }
      }//a
    }//li
  }//ul
}//footer


